@use "./variables" as var;

.view {
    height: var.$viewport-height;
}

.header {
    display: flex;
    align-items: center;
}

.container {
    height: 666px;
    //margin: 20px;
}

.footer {
    text-align: center;
}
