.centeredCard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 24px;
}

.flexContainer {
    width: 100%;
    max-width: 720px;
}
